.bg-img {
    position: absolute;
    z-index: -1;
    width: 100%;
    left: 0;
    top: -20%;
    background-color: var(--secondary);

    img {
        width: 100%;
        height: 750px;
    }
}

.lighten {
    background-color: rgba(33, 32, 45, 0.7);
    width: 100%;
    height: 753px;
    position: absolute;
}

.fade {
    bottom: 0;
    height: 20px;
    background: linear-gradient(toBottom, red);
}

.detail {
    display: flex;
    margin: 7rem 0 5rem 0;
    color: whitesmoke;

    .img {
        .card {
            width: 300px;
            height: 450px;
            border-radius: 8px;
            border: 1px solid whitesmoke;

            img {
                border-radius: 8px;
            }
        }
    }

    .desc {
        margin-left: 3em;
        font-weight: 500;

        .title {
            font-size: 40px;
            font-weight: 700;
        }

        .year {
            color: rgb(245, 245, 245, 0.7);
        }

        .tagline {
            margin: 0;
            font-size: 25px;
            margin-bottom: 10px;
        }

        p {
            margin: 0;
        }

        .rate {
            margin-bottom: 10px;
        }

        .box-genre {
            padding: 5px;
            border-radius: 7px;
            border: 1px solid whitesmoke;
        }

        .genre {
            display: flex;
            margin-bottom: 10px;

            .box {
                background-color: #fff;
                color: #132219;
                font-weight: 600;
                // height: 25px;
                padding: 5px;
                gap: 5px;
                margin-right: 10px;
                border-radius: 5px;
                margin-top: 5px;
                text-align: center;
                margin-bottom: 10px;
                cursor: pointer;

                p {
                    margin: 0;
                }
            }
        }
    }
}

.loading {
    display: flex;
    justify-content: center;
}

.bi-star-fill {
    color: yellow;
}

.trailer {
    position: relative;

    iframe {
        position: absolute;
        z-index: 1;
    }
}

.handleShow {
    background: none;
    border-radius: 5px;
    color: whitesmoke;
    border: none;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.5s;
    padding: 0;
}

.vertikal {
    width: 2px;
    height: 40px;
    margin-right: 10px;
    background-color: red;
}

.cast {
    display: flex;
    width: auto;
    overflow-y: hidden;
    overflow-x: auto;
    margin: 1rem 0;

    a {
        color: var(--white) !important;

        &:hover {
            color: red !important;
        }
    }

    .box-movie {
        min-width: 200px;
        background-color: rgb(17, 18, 25);
        color: whitesmoke;
        text-align: center;
        margin: 10px;
        cursor: pointer;
        transition: 0.3s ease;

        &:hover {
            transform: scale(1.05);
        }

        img {
            border-radius: 8px;
            min-height: 300px;
            margin-bottom: 5px;
            object-fit: cover;
        }
    }
}

.box-cast {
    min-width: 150px;
    height: 320px;
    background-color: transparent;
    color: whitesmoke;
    margin: 10px;
    text-align: center;
    overflow-y: hidden;
    cursor: pointer;

    p {
        margin: 0;
    }

    .img-cast {
        height: 200px;
        width: 150px;
        margin-bottom: 5px;
        border-radius: 8px;
        object-fit: cover;
    }
}

.list-production {
    margin-top: 5rem;
    display: flex;
    gap: 2rem;
    width: 100px;
    font-size: 12px;

    .production {
        gap: 1rem;
        border-radius: 8px;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;

        img {
            width: 5q0px;
        }
    }
}
