.navbar-brand {
    color: var(--white);
    cursor: pointer;
    font-weight: 700;
    transition: ease-in-out 0.5s;

    .red {
        transition: ease-in-out 0.5s;
    }

    &:hover {
        color: red;

        .red {
            color: var(--white);
        }
    }
}

.navlink {
    color: var(--white);
    font-weight: 700;
    transition: ease-in-out 0.5s;

    &:hover {
        color: red;
    }
}

.navbar {
    background-color: var(--background);
    border-bottom: 1px solid var(--secondary);
    position: relative;
    z-index: 1;
    padding: 15px 0;
}

.searchType {
    width: 500px;
}

.red {
    color: red;
}

@media screen and (max-width: 900px) {
    .desktop {
      display: none;
    }
  }
