.header {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin: 0 120px;

    p {
        font-size: 14px;
    }

    .form-select {
        width: 110px;
        height: 30px;
        font-size: 12px;
        background-color: var(--secondary);
        border: none;
        color: var(--white);
        
        i {
            color: whitesmoke;
        }
    }
}

.loading {
    display: block;
}

.toggleUp {
    font-size: 40px;
    margin-left: 83%;
    cursor: pointer;
}