.rightbar {
    margin-top: 72px;
    width: 200px;
    min-height: 100vh;
    background-color: rgb(0, 0, 0, 0.9);
    // background-color: #331D2C;
    position: fixed;
    // left: 90%;
    right: 0;
    top: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    gap: 20px;

    .card {
        width: 150px;
        height: 225px;
        margin: auto;
        cursor: pointer;
        border-radius: 8px;
    }

    h2 {
        font-size: 16px;
        margin-top: 2.1rem;
        // margin-left: 15px;
        // color: rgb(245, 245, 245, 0.7);
        color: whitesmoke;
    }
}