.search-input {
    position: relative;
    color: whitesmoke;

    .search {
        position: absolute;
        max-height: 600px;
        margin-top: 10px;
        width: 500px;
        background-color: var(--background-search);
        color: var(--white);
        top: 100%;
        right: 10px;
        z-index: 1;
        overflow: hidden;
        overflow-y: auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        &::-webkit-scrollbar {
            display: none;
        }

        .result {
            display: flex;
            align-items: center;
            cursor: pointer;

            &:nth-child(even) {
                background-color: var(--strip);
            }
            &:nth-child(odd) {
                background-color: var(--background-search);
            }

            &:hover {
                background-color: var(--black-500);
            }

            .title {
                width: 400px;
                font-size: 16px;
                font-weight: 600;
            }

            img {
                min-width: 75px;
                height: 100px;
                object-fit: cover;
                &:hover {
                    background-color: var(--black-500);
                }
            }
        }
    }
}

.searchType {
    background-color: var(--secondary);
}

.form-control {
    border: none;
    color: var(--white);
    position: relative;

    &::placeholder {
        color: var(--color-search);
    }

    &:focus {
        background-color: var(--secondary);
        color: var(--white);
    }
}

.form {
    position: relative;
    align-items: center;
}

.bi-search {
    height: 16px;
    position: absolute;
    right: -15px;
    top: 5px;
}

hr {
    margin: 10px 0;
}

.loading {
    margin-top: 50%;
    margin-left: 45%;
}
