.sidebar {
    margin-top: 72px;
    width: 200px;
    min-height: 100vh;
    background-color: var(--background);
    border-right: 1px solid var(--secondary);
    display: flex;
    flex-direction: column;

    h2 {
        font-size: 16px;
        margin-top: 2.1rem;
        margin-left: 15px;
        color: var(--white);
    }

    a {
        padding: 10px 25px;
        display: block;
        cursor: pointer;
        color: var(--white);
        font-size: 14px;
        text-decoration: none;

        &.active {
            color: red;
        }
    }
    .option {
        cursor: pointer;
        color: var(--white);
        font-size: 14px;

        &:hover {
            background-color: var(--black-500);
        }
    }
}

@media screen and (max-width: 900px) {
    .desktop {
      display: none;
    }
  }


